@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    /* font style  */
    font-family: "Poppins", sans-serif;
}
.carousel .carousel-item img {
    min-height: 100vh;
}
a,
a:hover {
    text-decoration: none;
}
/* button  */
.custom-button {
    background-color: #ffffff;
    border-radius: 5px;
    color: #3f87f5;
    font-weight: bold;
    padding: 10px 40px;
    border: 1px solid;
}
.custom-button:hover {
    color: #ffffff;
    background-color: rgb(44, 44, 70);
    border: 1px solid white;
}
/* package  */

.package-item {
    list-style: none;
}
.package-header {
    margin-bottom: 200px;
}
@media (max-width: 991px) {
    .package-header {
        margin-bottom: 30px;
    }
}
.package-item li {
    margin-bottom: 10px;
}
.package-item li i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: rgba(82, 67, 194, 0.103693);
    border-radius: 50%;
}
.package-item .active-card li i {
    background-color: rgba(255, 255, 255, 0.103);
}
.active-card {
    background-color: #3f87f5;
    box-shadow: 0px 42px 34px;
    color: rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    transform: translateY(-40px);
}
/* package-button  */
.package-button {
    background-color: rgba(231, 149, 201, 0.151);
    border-radius: 24px;
    color: #3f87f5;
    margin-top: 10px;
}

.package-button:hover {
    background-color: #3f87f5;
    color: #ffffff;
}
.package-button-active {
    background-color: #ffffff;
    border-radius: 24px;
}
.active-card .package-button {
    background-color: #ffffff;
    color: #3f87f5;
    border: 1px solid transparent;
}
.active-card .package-button:hover {
    background-color: #3f87f5;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.footer-right img {
    border: 1px solid white;
    border-radius: 10px;
}